html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.line-service{
    height: 1px;
    background-color: #dad9d9;
}

.img-service img{
    width: 100%;
}

.title1-service{
        text-align: center;
        margin: 50px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.service-content{
    text-align: center;
    margin: 20px;
    font-weight: 100;
}

.service-content button {
    background-color: black;
    color: aliceblue;
    padding: 8px;
    border: none;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.service-content button:hover {
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
}
.service3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.service3-image {
    flex: 1; 
    text-align: center;
}

.service3-image img {
    width: 100%;
    max-width: 100%; 
    height: auto;
}

.service3-content {
    flex: 1; 
    text-align: left;
    padding: 20px;
}

.service3-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service3-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.service3-content a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.service3-content a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


@media (max-width: 768px) {
    .service3 {
        flex-direction: column;
        text-align: center;
    }
    
    .service3-content {
        text-align: center;
    }
}


.explore{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

.service-container-4{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.service-container-4 img{
    width: 100%;
}

.service-container-5 {
    display: flex;
    justify-content: center;
    gap: 30px;
   
}

.service-item-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1; 
    max-width: 50%;
}

.service-item-5 img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.img7 {
    width: 100%; 
}

.service-content-5 {
    padding: 20px;
}


.service-content-5 button {
    background-color: black;
    color: aliceblue;
    padding: 8px;
    border: none;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.service-content-5 button:hover {
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
}